@model IEnumerable<OdeToFood.Web.Models.Restaurant>

@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Info</h1>
    <div>There are @Model.Count() restaurants</div>
</div>
